<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<link rel="stylesheet" href="/stylesheets/songindex.css">

<div class="card" style="width: 100%;">
    <div class="card-header" id="lists">
      Recommonded Songs 🎶
    </div>
    <ul class="list-group list-group-flush">
        <% songs.forEach(song => { %>
      <li class="list-group-item" id="lists"><a href="/songs/<%= song._id %>"><%= song.title %></a> - <%= song.artist %></li>
      <% }) %>  
    </ul>
  </div>


<%- include('../partials/footer') %>
