<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
    <p>Stay awhile and listen!</p>
    <h2><%= song.title %> - <%= song.artist %></h2>
    <p>Listen <a href="<%= song.link %>">here!</a></p>
</section>
<%- include('../partials/footer') %>