<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
    <h1><%= title %></h1>
    <h3>Recommended by <%= song.creator.name %> </h3>
    <p><%= song.title %> - <%= song.artist %></p>
    <p>Listen <a href="<%= song.link %>">here!</a></p>
    
<% if (song.creator.equals(user?.profile._id)) { %>
    <form action="/songs/<%= song._id %>/edit" method="GET">
    <button class="btn" type="submit">Edit the Song!</button>
    </form>
    <form action="/songs/<%= song._id %>?_method=DELETE" method="POST">
    <button class="btn" type="submit">Delete Song🥲</button>
    </form>
<% } %>
</section>

<%- include('../partials/footer') %>